/* PT1 */
.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}
/* PT2 */
.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-right: 5% ;

}

.rodapePrincipal-contatoForm {
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}

.rodapePrincipal-navMap-list {
    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap; */
    flex-flow: column wrap;
    height: 250px;
}
/* PT3 */

.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
  
}
.conteudoPrincipal-cursos-link {
    width: 23%;
    margin-bottom: 1%;
}

.conteudoPrincipal-cursos-link:nth-child(4n) {
    margin-right: 0;

}

.conteudoPrincipal-cursos-link:nth-child(4n+1) {
    margin-left: 0;

}
.cabecalhoPrincipal-nav{
    display: flex;
}
.videoSobre .container{
    display: flex;
}
.videoSobre-sobre {
    text-align: center;
    display: flex;
    flex-direction: column;
    /* parte do Flex-grow e Flex-shrink é da PT4 */
    flex-grow: 1;
}
.videoSobre-sobre-list
{
    flex-grow: 3;
}

.videoSobre-video {
    flex-grow: 1;
    flex-shrink: 2; 
}

/* PT4 */

/* Parte Mobile */
/*parte mobile*/
@media(max-width: 768px){
.cabecalhoPrincipal-nav {
    flex-direction:column;
}

.cabecalhoPrincipal .container{
    flex-direction: column;  
    align-items: initial;
    text-align: center;
  }
/* Nesta aula aprendemos sobre o flex-container e também sobre o display flex que faz todos os seus itens filhos, os flex-itens, se ajeitarem e se ajustarem. Pensando nos eixos, também vimos que o justify-content e o align-items são propriedades relacionadas a eixos específicos.

*/

.conteudoPrincipal-cursos {
    flex-direction: column;
}

.conteudoPrincipal-cursos-link {
    width:100%;
}

.rodapePrincipal-navMap-list {
    height: auto;
}

.rodapePrincipal-patrocinadores .container {
    flex-direction: column;
}
.rodapePrincipal-patrocinadores .container {
    flex-direction: column;
    align-items: center;
}
.rodapePrincipal-patrocinadores-list {
    margin: 0;
    width: 100%;
    
}
.rodapePrincipal-contatoForm {
    width: 100%;
}
.rodapePrincipal-contatoForm-fieldset {
    justify-content:center
}
.cabecalhoPrincipal-nav-link-app {
    order: -1;
}

.videoSobre .container {
    flex-direction: column;
}
.videoSobre-video {
    margin: 0 auto;
}

}